<div class="p-4 max-w-5xl mx-auto">
  <div class="flex justify-between pb-2 items-center">
    <div class="text-lg font-semibold md:text-2xl ">
      {{months[month]}} - {{year}}
    </div>
    <div>
      <select id="appoints" name="appoints" (change)="onDropDownChange($event.target)"
        class="p-2 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-400 rounded-md">
        <option value="" selected>All Appointments</option>
        <option *ngFor="let appointment of appointments" [value]="appointment.id">
          {{appointment.date.day}}_{{appointment.time.hour}}:{{appointment.time.minute < 10 ? '0':''}}{{appointment.time.minute}}-{{appointment.firstName}}
        </option>
      </select>
    </div>
  </div>
  <div class="grid grid-cols-7 text-center text-xs md:text-base font-semibold">
    <div class="bg-teal-200">Sun</div>
    <div class="bg-teal-200">Mon</div>
    <div class="bg-teal-200">Tue</div>
    <div class="bg-teal-200">Wed</div>
    <div class="bg-teal-200">Thu</div>
    <div class="bg-teal-200">Fri</div>
    <div class="bg-teal-200">Sat</div>
  </div>
  <div class="grid grid-cols-7 border-l border-t border-dotted">
    <div *ngFor="let day of dayList" class="">
      <div *ngIf="!day.isEmpty; else elseBlock" class="calendar-day" [ngClass]="{'bg-teal-50' : day.isToday}">
        <div class="text-center">{{day.day < 10 ? '0':''}}{{day.day}}</div>
        <div *ngIf="day.appointments && day.appointments.length > 0" class="h-14 overflow-y-auto flex flex-col-reverse">
          <div class="appointment" *ngFor="let appointment of day.appointments"
            (click)="handleAppointmentClick(appointment)">
            <div class="px-1 truncate">
              {{appointment.time.hour}}:{{appointment.time.minute < 10 ? '0':''}}{{appointment.time.minute}}-{{appointment.firstName}}
            </div>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="empty-day"></div>
      </ng-template>
    </div>
  </div>
</div>
<app-calendar-modal [(show)]="showCalenderModal" [appointment]="appointment" (update)="onUpdate($event)">
</app-calendar-modal>
